/* CSS variables to set colors */
:root {
    --headerfooter-textcolor:  ivory;
    --headerfooter-bgcolor: rgb(4, 48, 48);rgb(135, 212, 235);
    --main-bg-color1: rgb(12, 193, 213);
    --main-bg-color2: rgb(152, 236, 236);
}
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

header,
footer {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
}

header h1 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
    font-size: 200%;
}

footer h3 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    font-size: 150%;
}

/* Nav in header and footer uses flex layout */
header nav,
footer nav {
    background-color: var(--headerfooter-bgcolor);
    padding: 10px;

    font-size: 125%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a,
footer nav a {
    color: var(--headerfooter-textcolor);
    font-variant: small-caps;
}

/* Linear color gradient for background in body */
main {
    background-image: linear-gradient(var(--main-bg-color1), var(--main-bg-color2));
}

/* Section below header containing picture and background img */
#NamePicSection {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/blue_bg.jpeg);
}
#NamePic {
    width: 100px;
    border: 2px solid blanchedalmond;
    margin: 1%;
}

/* Each article (named Topic) element contains a caption, 
the yellow line, and content laid out horizontally. */
/* Uses a grid layout with 3 columns for caption, the line, and 
the content. */
.Topic {
    display: grid;
    grid-template-columns: 20% 10% 65%;
    padding: 1%;
}    

article .Caption {
    font-size: 200%;
    font-weight:bolder;
}

article .Divider {
    height: 100%;
    border-left: 5px yellow solid;
}
article .TopicContent {
    font-size: medium;
    line-height: 150%;
}

/* The Work projects use a grid layout for the images
that link to the project. */
/* For now, 3 projects placed appropriately on the grid.
The first item occupies the first two rows. The 2nd and 3rd
items occupy the third row on the grid. */

#WorkProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1%;
}
.WorkProjectItem:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.WorkProjectItem:nth-child(2) {
    grid-column: 1 / 2;
    grid-row-end: 3 / 4;
}
.WorkProjectItem:nth-child(3) {
    grid-column: 2 / 3;
    grid-row-end: 3 / 4;
}

/* Pseudo class to pop up the project image when
the user hovers over it */
.WorkProjectItem:hover {
    transform: scale(104%);
}

/* Flex implementation - not used */
/*
#WorkProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.WorkProjectItem {
    border: 2px blue solid;
    flex:1;
}
.WorkProjectItem:nth-of-type(1){
    flex: 2;
}
*/

.WorkProjectItem img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: 15px;
    border: 5px yellowgreen solid;   
}

#ResumeBrief ul li{
    font-size: small;
    line-height: 150%;
    list-style-type: circle;
}

/* To make the page responsive to changes in the screen size */
@media screen and (max-width:768px) {
    header nav,
    footer nav {
        flex-direction: column;
        align-items: center;
    }

    #WorkProjects{
        flex-direction: column;
        align-items: center;
    }
}
