:root {
    --headerfooter-textcolor:  ivory;
    --headerfooter-bgcolor: rgb(4, 48, 48);
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

header,
footer {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
}

header h1 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
}

footer h3 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
}

header nav,
footer nav {
    background-color: var(--headerfooter-bgcolor);
    padding: 10px;

    font-size: 125%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a,
footer nav a {
    color: var(--headerfooter-textcolor);
}

main {
    background-color: rgb(112, 208, 237);
    padding: 10px;
}

#NamePic {
    width: 100px;
    border: 2px solid blanchedalmond;
}

article {
}

article .Caption {
    left: 10px;
    /* border: 2px black solid; */
}

article .TopicContent {
    /* border: 2px black solid; */
}

#WorkProjects {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#HoriseonProject img,
#MusicSchoolProject img,
#ComingSoonProject img{
    width: 150px;
    border: 2px black solid;
}
#ResumeBrief {
    margin-left: 50px;
    margin-right: 50px;
}
#ResumeBrief ul li{
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width:768px) {
    header nav,
    footer nav {
        flex-direction: column;
        align-items: center;
    }

    #WorkProjects{
        flex-direction: column;
        align-items: center;
    }
}
