:root {
    --headerfooter-textcolor:  ivory;
    --headerfooter-bgcolor: rgb(4, 48, 48);
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

header,
footer {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
}

header h1 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
    padding: 10px;
}

footer h3 {
    background-color: var(--headerfooter-bgcolor);
    color: var(--headerfooter-textcolor);
}

header nav,
footer nav {
    background-color: var(--headerfooter-bgcolor);
    padding: 10px;

    font-size: 125%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a,
footer nav a {
    color: var(--headerfooter-textcolor);
}

main {
    background-color: rgb(135, 212, 235);
    padding: 10px;
}

#NamePic {
    width: 100px;
    border: 2px solid blanchedalmond;
    margin: 1%;
}

.Topic {
    display:grid;
    /*border: 2px yellow solid;*/
    grid-template-columns: 25% 10% 60%;
}    

article .Caption {
    /*border: 2px black solid;*/
    /*flex: 200px;*/ /* basis */

}

article .Divider {
    height: 100%;
    border-left: 5px yellow solid;
    /*
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    */

   /* flex: 10px;*/ /* basis */
}
article .TopicContent {
    /*border: 2px black solid;*/
    /*flex: 500px; *//* basis */
}

#WorkProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.WorkProjectItem {
    /*border: 2px blue solid;*/
    flex:1;
}

.WorkProjectItem:nth-of-type(1){
    flex: 2;
}

.WorkProjectItem img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: 15px;
    border: 5px yellowgreen solid;   
}


/*
#HoriseonProject img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: 15px;
    border: 5px yellowgreen solid; 
}
#MusicSchoolProject img,
#ComingSoonProject img{
    width: 100%;
    height: 100%;
    object-fit:contain;

    border-radius: 15px;
    border: 5px yellowgreen solid;
}
*/



#ResumeBrief {
}
#ResumeBrief ul li{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: circle;
}

@media screen and (max-width:768px) {
    header nav,
    footer nav {
        flex-direction: column;
        align-items: center;
    }

    #WorkProjects{
        flex-direction: column;
        align-items: center;
    }
}
